<div id="footer" class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-static navbar-inverse" id="navbar-footer">
			<div class="container">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in footerCtrl.links" ng-class="{'active' : footerCtrl.itemIsActive(item)}">
					<a ng-href="#{{ item.url }}">{{ item.text }}</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="" class="back-to-top" onclick="window.scroll(0,0)">
						<span class="sr-only">Terug omhoog</span>
						<span class="glyphicon glyphicon-arrow-up"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="container">
		<div class="col-md-6">
			<h3>Donaties</h3>
			<p>
				De Foundation is afhankelijk van de goodwill van de gemeenschap.
				Donaties zullen worden gebruikt als beloning voor software development of als bonus voor acties die de e-Gulden promoten.
				U kunt uw bijdrage op onze e-Gulden of Bitcoin wallet overmaken.
			</p>

			<p><strong>EFL: {{ footerCtrl.eguldenDonationAddress }}</strong></p>
			<p><strong>BTC: {{ footerCtrl.bitcoinDonationAddress }}</strong></p>
		</div>

		<div class="col-md-6">
			<div class="col-md-{{ (12 / footerCtrl.linkCols.length) }}" ng-repeat="col in footerCtrl.linkCols">
				<h3>{{ col.title }}</h3>
				<ul>
					<li ng-repeat="link in col.links">
						<a href="{{ link.url }}">{{ link.title }}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-12">
			<hr />

			<div class="col-md-4">
				&copy; 2014-2015 - Electronic Gulden Foundation
			</div>
			<div class="col-md-4 text-center">
				<a href="/#/privacy">Privacy verklaring</a>
			</div>
			<div class="col-md-4 text-right">
				<a href="/#/nieuwsbrief">Aanmelden nieuwsbrief</a>
			</div>
		</div>

		<div class="clearfix top-spacer-10"></div>
	</div>
</div>
